<mat-nav-list>
    <div class="profile-card">
        <div class="header">
               <h2>eya lena KHENISSI</h2>
                <h4>example@email.com</h4>
        </div>
        <img  src="‪../../../../../../assets/images/profile.png" alt="eya lena"/>
    </div>
<mat-divider></mat-divider>
<mat-divider></mat-divider>
<h2 mat-subheader style="font-weight: bold;font-size: x-large;">Admin</h2>

<a mat-list-item routerLinkActive="list-item-active" routerLink='/'  > Dashboard </a>
<a mat-list-item routerLinkActive="list-item-active" routerLink='/products'  > Products </a>
<a mat-list-item routerLinkActive="list-item-active" routerLink='/players'  > Inventorys </a>
<!-- <a mat-list-item routerLinkActive="list-item-active" routerLink='/posts'  > Posts </a> -->
<mat-divider></mat-divider>
<mat-divider></mat-divider>
<h2 mat-subheader style="font-weight: bold;font-size: x-large;">Seller</h2>

<a mat-list-item routerLinkActive="list-item-active" routerLink='/'  > Dashboard </a>
<a mat-list-item routerLinkActive="list-item-active" routerLink='/fixgame'  > Fix Game </a>
<a mat-list-item routerLinkActive="list-item-active" routerLink='/seller/foods'  > Foods </a>
<a mat-list-item routerLinkActive="list-item-active" routerLink='/seller/ecommerces'  > Ecommerce </a>

<mat-divider></mat-divider>
<mat-divider></mat-divider>

<h2 mat-subheader style="font-weight: bold;font-size: x-large;">Cunsummer</h2>

<a mat-list-item routerLinkActive="list-item-active" routerLink='/'  > Dashboard </a>
<a mat-list-item routerLinkActive="list-item-active" routerLink='/fixgame'  > Fix Game </a>
<a mat-list-item routerLinkActive="list-item-active" routerLink='cunsummer/foods'  > Foods </a>
<a mat-list-item routerLinkActive="list-item-active" routerLink='cunsummer/ecommerces'  > Ecommerce </a>

<mat-divider></mat-divider>
<mat-divider></mat-divider>

<h2 mat-subheader style="font-weight: bold;font-size: x-large;">Tools</h2>

<a mat-list-item routerLinkActive="list-item-active" routerLink='/contacts'  >
     <mat-icon>import_contacts</mat-icon>
     Contacts
</a>

<a mat-list-item routerLinkActive="list-item-active" routerLink='/'  >
    <mat-icon>contact_phone</mat-icon>
    Leads
</a>

<mat-divider></mat-divider>


</mat-nav-list>
