<mat-toolbar color="primary">
    <mat-toolbar-row >
        <button mat-icon-button (click)="toggleSideBare()">
            <mat-icon> menu  </mat-icon>
        </button>
        <!-- <span>Fix For </span>
        <span class="example-space"></span>
        <mat-icon class="example-icon" aria-hidden="false" aria-label="Example heart icon"> favorite</mat-icon>
        <mat-icon class="example-icon" aria-hidden="false" aria-label="Example heart icon"> delete</mat-icon> -->
        <span> FIX FOR </span>
        <mat-nav-list  fxFlex fxLayout="row" fxLayoutAlign="flex-end">
        <div fxFlex fxLayout="row" fxLayoutAlign="flex-end">
            <ul fxLayout="row">
                <li>
                    <button mat-icon-button>
                        <mat-icon>settings </mat-icon>
                    </button>
                </li>
                <li>
                  <div right>
                    <button aria-label="Cart" mat-icon-button>
                      <mat-icon [matBadge]="cart.cartTotal" matBadgeColor="accent"  matBadgePosition="before">shopping_cart</mat-icon>
                    </button>
                  </div>

                    <!-- <button mat-icon-button>
                        <mat-icon>help_outline </mat-icon>
                    </button> -->
                </li>
                <li>
                    <!-- <button mat-icon-button [mat-menu-trigger-for]="menu">
                        <mat-icon>person_outline </mat-icon>
                    </button> -->
                    <!-- <mat-menu #menu="matMenu">

                        <button mat-menu-item routerLinkActive="list-item-active" routerLink='/login' > Log In </button>
                        <button mat-menu-item  routerLinkActive="list-item-active" routerLink='/register' > Register </button>
                        <button mat-menu-item  routerLinkActive="list-item-active" routerLink='/login' > Sign out </button>

                    </mat-menu> -->
                </li>
            </ul>
        </div>
    </mat-nav-list>
    </mat-toolbar-row>
</mat-toolbar>
