.card {
    border: 1px solid steelblue;
    border-radius: 4px;
    margin-top: 15px;
}
.card-body {
    display: flex;
    padding: 15px;
}
h3 {
    font-size: 32px;
}
img {
    max-height: 200px;
}


.continue-reading {
    font-style: italic;
    color: grey;
}
.example-card {
    max-width: 400px;
    width: 225px;
    margin-bottom: 25px;
    margin-left: 25px;
  }
  
  .example-header-image {
      width: 25px;
      background-size: cover;
  }
  .title-card {
    font-weight: bold;
      margin-left: 20px;
      font-size: 20px;
  }
  .currentprice{
      font-weight: bold;
      color: darkgreen;
      font-size: 40px;
      margin-left: 10px;
      padding-top: 10px;
  }