.main-div mat-card {
    padding: 0px;
    text-align: center;

}
.login-form {
    padding: 20px;
}
/* The container */
.container {
  display: inline-block;
  position: relative;

  margin-top: 25px;
  margin-right: 15px;
  margin-left: 15px;
  margin-bottom: 5px;
  cursor: pointer;
  font-size: 25px;

}

