<form [formGroup]="foodsproductService.form" class="normal-form" (ngSubmit)="onSubmit()">
  <mat-card>
    <mat-toolbar style="min-height: 40px !important; height: 40px !important;">
      <span class="fill-remaining-space"></span>
      <div *ngIf="choixmenu==='Add' else updateMode">
        <span>Add new Food's Item</span>
      </div>
      <ng-template #updateMode>
        <span>Update Item</span>
      </ng-template>

      <span class="fill-remaining-space"></span>
    </mat-toolbar>

   <mat-grid-list cols="2" rowHeight="400px">
     <mat-grid-tile>
         <div class="controles-container">
            <input type="hidden" formControlName="id">
            <mat-form-field>
              <input formControlName="designation" matInput placeholder="Designation*">
              <mat-error *ngIf="foodsproductService.form.controls['designation'].errors?.required">this field is required !</mat-error>
            </mat-form-field>

            <mat-form-field>
              <!-- <input formControlName="description" matInput placeholder="Description*"> -->
              <textarea
                    matInput
                    placeholder="description*"
                    name="description"
                    formControlName="description"
            ></textarea>
            </mat-form-field>


              <mat-form-field>
                <input
                    matInput
                    type="number"
                    placeholder="price"
                    name="price"
                    formControlName="price"

               />
              </mat-form-field>
         </div>
     </mat-grid-tile>
     <mat-grid-tile>
        <div class="controles-container">

              <div class="container" style="width:600px">
                  <!-- <app-upload-file></app-upload-file> -->
                 <!-- <h3>Choose image</h3> -->
                 <input style="display: none;"
                        type="file"
                        accept="image/*"
                        (change)="onSelectedFile($event)"
                        #fileInput>
                  <!-- <img [src]="imageUrl" height="200" *ngIf="imageUrl"> -->
                  <img mat-card-image *ngIf="selectedFoodProduct" height="100" width="100" src="{{this.host + '/foodPhoto/'+this.selectedFoodProduct._id}}">
              </div>
              <div>
                <button type="button" (click)="fileInput.click()">Pick Image</button>
                <button type="button" (click)="onUpload()">Upload</button>
              </div>


            <div class="button-row">
              <button mat-raised-button color="primary" type="submit" [disabled]="foodsproductService.form.invalid">Add</button>
              <button  mat-raised-button color="warn" type="button" (click)="onClear()">Clear</button>
            </div>
        </div>

      </mat-grid-tile>
    </mat-grid-list>
</mat-card>
</form>

