<form [formGroup]="foodsproductService.form" class="normal-form">
  <mat-card>
    <mat-toolbar style="min-height: 40px !important; height: 40px !important;">
      <span class="fill-remaining-space"></span>
      <div>
        <span> Item Details</span>
      </div>


      <span class="fill-remaining-space"></span>
    </mat-toolbar>

   <mat-grid-list cols="2" rowHeight="400px">
     <mat-grid-tile>
         <div class="controles-container">
            <input type="hidden" formControlName="id">
            <mat-form-field>
              <input formControlName="designation" matInput placeholder="Designation*">
              <mat-error *ngIf="foodsproductService.form.controls['designation'].errors?.required">this field is required !</mat-error>
            </mat-form-field>

            <mat-form-field>
              <!-- <input formControlName="description" matInput placeholder="Description*"> -->
              <textarea
                    matInput
                    placeholder="description*"
                    name="description"
                    formControlName="description"
            ></textarea>
            </mat-form-field>


              <mat-form-field>
                <input
                    matInput
                    type="number"
                    placeholder="price"
                    name="price"
                    formControlName="price"

               />
              </mat-form-field>
         </div>
     </mat-grid-tile>
     <mat-grid-tile>


      </mat-grid-tile>
    </mat-grid-list>
</mat-card>
</form>

