<form [formGroup]="productService.form" class="normal-form" (ngSubmit)="onSubmit()">
  <mat-card>
    <mat-toolbar style="min-height: 40px !important; height: 40px !important;">
      <span class="fill-remaining-space"></span>
      <span>Add new Product</span>
      <span class="fill-remaining-space"></span>
    </mat-toolbar>

   <mat-grid-list cols="2" rowHeight="400px">
     <mat-grid-tile>
         <div class="controles-container">
            <input type="hidden" formControlName="id">
            <mat-form-field>
              <input formControlName="designation" matInput placeholder="Designation*">
              <mat-error *ngIf="productService.form.controls['designation'].errors?.required">this field is required !</mat-error>
            </mat-form-field>
            <mat-form-field>
              <input formControlName="category" matInput placeholder="Category*">
            </mat-form-field>
            <mat-form-field>
              <input formControlName="description" matInput placeholder="Description*">
            </mat-form-field>
            <!-- <div fxLayoutAlign="space-between"> -->
              <mat-form-field>
                <input formControlName="initialPrice" matInput placeholder="Initial Price">
              </mat-form-field>
              <mat-form-field>
                <input  formControlName="currentPrice" matInput placeholder="Current Price">
              </mat-form-field>
            <!-- </div> -->

         </div>
     </mat-grid-tile>
     <mat-grid-tile>
        <div class="controles-container">

            <mat-form-field>
              <input formControlName="saledate" matInput placeholder="saledate">
            </mat-form-field>
            <!-- <mat-form-field>
              <input formControlName="dateOfSale" matInput placeholder="dateOfSale">
            </mat-form-field> -->
            <mat-form-field>
              <input formControlName="imageUrl" matInput placeholder="image Url">
            </mat-form-field>
            <mat-form-field>
              <input formControlName="logoSaler" matInput placeholder="your logo">
            </mat-form-field>
            <mat-form-field>
              <input formControlName="linkProduct" matInput placeholder="your logo">
            </mat-form-field>
            <mat-form-field>
              <input formControlName="productSold" matInput placeholder="Designation">
            </mat-form-field>

            <mat-form-field>
              <input formControlName="currentPrice" matInput placeholder="Designation">
            </mat-form-field>

          <div class="button-row">
              <mat-checkbox  class="checkbox-dim" style="margin-left: 20px;" formControlName="productLocked" matInput>Locked</mat-checkbox>
              <mat-checkbox  style="margin-left: 15px;" formControlName="productSold" matInput>Sold</mat-checkbox>
          </div>
            <div class="button-row">
              <button mat-raised-button color="primary" type="submit" [disabled]="productService.form.invalid">Add</button>
              <button  mat-raised-button color="warn" type="button" (click)="onClear()">Clear</button>
            </div>
        </div>

      </mat-grid-tile>
    </mat-grid-list>
</mat-card>
</form>
